@import
  './styles/reset.scss',
  './styles/variables.scss',
  './styles/patterns.scss',
  './styles/form.scss',
  './styles/modal-window.scss'
;

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: $font-base;
  color: $color-text;

  &.hide-scroll {
    overflow: hidden;
  }
}
